#matter {
    text-align: justify;
    font-size: 35px;
}

.menu{
    list-style: none;
    position: fixed;
    background:transparent;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    z-index: 100;
    cursor: pointer;
    padding-bottom: 50px;
    color: yellow;
}

.link{
    display: inline;
    padding-top: 9px;
    padding-left: 19px;
    padding-bottom: 9px;
    padding-right: 19px;
    font-family: fantasy;
    font-size: 20px;
    color: yellow;
}

.img_btn{
    width: 200px;
    height: 200px;
}

#button_layout h5 {
    text-justify: auto;
    font-size: 20px
}

#contact{
    background-color: black;
    color: yellow;
}

#img_manpower{
    width: 1500px;
    height: fit-content;
}

.buttonspacing{
color: white;
background-color: white;
border-color: white
}

.image{
    width: 400px;
    height: 300px;
}